apiVersion: v1
data:
  application.properties: |+

    # Spring
    spring.main.sources=no.entur.nisaba
    spring.profiles.active=gcs-blobstore
    server.port={{ .Values.service.http.internalPort }}

    # Camel
    camel.springboot.name=Nisaba
    camel.dataformat.json-jackson.module-refs=jacksonJavaTimeModule


    # Kafka
    nisaba.kafka.topic.dataset.import.event={{ .Values.kafka.topic.event }}
    nisaba.kafka.topic.dataset.import.event.idempotent.repo={{ .Values.kafka.topic.idempotent }}
    camel.component.kafka.brokers={{ .Values.kafka.brokers }}
    camel.component.kafka.client-id=nisaba
    camel.component.kafka.sasl-mechanism=SCRAM-SHA-512
    camel.component.kafka.security-protocol=SASL_SSL
    camel.component.kafka.sasl-jaas-config=org.apache.kafka.common.security.scram.ScramLoginModule required username="${nisaba.kafka.sasl.username}" password="${nisaba.kafka.sasl.password}";


    # PubSub
    spring.cloud.gcp.pubsub.project-id={{ .Values.gcp.pubsubProjectId }}
    spring.cloud.gcp.pubsub.credentials.location=file:/etc/nisaba-service-account/credentials.json
    spring.cloud.gcp.pubsub.subscriber.parallel-pull-count=1
    spring.cloud.gcp.pubsub.subscriber.executor-threads=30
    spring.cloud.gcp.pubsub.subscriber.max-ack-extension-period=36000
    entur.pubsub.subscriber.autocreate=false

    # Blobstore
    blobstore.gcs.project.id={{ .Values.gcp.blobstoreProjectId }}
    blobstore.gcs.credential.path=/etc/nisaba-service-account/credentials.json
    blobstore.gcs.container.name={{ .Values.gcp.bucketName }}

    # Actuator
    management.server.port=9001
    management.endpoints.enabled-by-default=false
    management.endpoint.info.enabled=true
    management.endpoint.health.enabled=true
    management.endpoint.health.group.readiness.include=readinessState,hazelcast
    management.endpoint.prometheus.enabled=true
    management.endpoints.web.exposure.include=info,health,prometheus

    # Logging
    logging.level.no.entur=INFO
    logging.level.org.apache=INFO
    logging.config=classpath:logback.xml
    logging.level.org.apache.camel.component.http.HttpComponent=WARN

    # Other
    # the Camel shutdown timeout must be shorter than the Kubernetes terminationGracePeriod
    nisaba.shutdown.timeout=25

    rutebanken.kubernetes.namespace={{ .Release.Namespace }}
    camel.component.servlet.mapping.context-path=/services/*

    # Fix for Hazelcast exception message on shutdown
    entur.hazelcast.shutdownhook.enabled=false


kind: ConfigMap
metadata:
  name: {{ template "nisaba.name" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "common.labels" . | indent 4 }}
