apiVersion: v1
data:
  application.properties: |+

    # Nisaba
    nisaba.publish.enabled={{ .Values.netex.publish.enabled }}

    # Spring
    spring.main.sources=no.entur.nisaba
    spring.profiles.active=gcs-blobstore
    server.port={{ .Values.service.http.internalPort }}

    # Camel
    camel.springboot.name=Nisaba
    camel.dataformat.json-jackson.module-refs=jacksonJavaTimeModule
    camel.cluster.kubernetes.enabled=true
    camel.cluster.kubernetes.cluster-labels[app]=nisaba
    camel.cluster.kubernetes.config-map-name=nisaba-leaders
    camel.servlet.mapping.context-path=/services/*
    # the Camel shutdown timeout must be shorter than the Kubernetes terminationGracePeriod
    nisaba.shutdown.timeout=25

    # Kafka
    nisaba.kafka.topic.event={{ .Values.kafka.topic.event }}
    nisaba.kafka.topic.idempotent={{ .Values.kafka.topic.idempotent }}
    nisaba.kafka.topic.common={{ .Values.kafka.topic.common }}
    nisaba.kafka.topic.servicejourney={{ .Values.kafka.topic.servicejourney }}
    camel.component.kafka.brokers={{ .Values.kafka.brokers }}
    camel.component.kafka.sasl-mechanism=SCRAM-SHA-512
    camel.component.kafka.security-protocol=SASL_SSL
    camel.component.kafka.sasl-jaas-config=org.apache.kafka.common.security.scram.ScramLoginModule required username="${nisaba.kafka.sasl.username}" password="${nisaba.kafka.sasl.password}";
    camel.component.kafka.schema-registry-u-r-l={{ .Values.kafka.registry }}

    # PubSub
    nisaba.pubsub.project.id={{ .Values.gcp.pubsubProjectId }}
    spring.cloud.gcp.project-id=${nisaba.pubsub.project.id}
    camel.component.google-pubsub.service-account-key=/etc/nisaba-service-account/credentials.json

    # Blobstore
    blobstore.gcs.project.id={{ .Values.gcp.blobstoreProjectId }}
    blobstore.gcs.credential.path=/etc/nisaba-service-account/credentials.json
    blobstore.gcs.marduk.container.name={{ .Values.gcp.marduk.bucketName }}
    blobstore.gcs.nisaba.container.name={{ .Values.gcp.nisaba.bucketName }}
    blobstore.gcs.nisaba.exchange.container.name={{ .Values.gcp.nisaba.exchangeBucketName }}

    # Actuator
    management.server.port=9001
    management.endpoints.enabled-by-default=false
    management.endpoint.info.enabled=true
    management.endpoint.health.enabled=true
    management.endpoint.health.group.readiness.include=readinessState
    management.endpoint.prometheus.enabled=true
    management.endpoints.web.exposure.include=info,health,prometheus

    # Logging
    logging.level.no.entur=INFO
    logging.level.org.apache=INFO
    logging.config=classpath:logback.xml
    logging.level.org.apache.camel.component.http.HttpComponent=WARN

kind: ConfigMap
metadata:
  name: {{ template "nisaba.name" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "common.labels" . | indent 4 }}
