apiVersion: v1
data:
  application.properties: |+

    # Nisaba
    nisaba.netex.publication.internal.bucket={{ .Values.netex.publication.internal.bucket }}
    nisaba.netex.publication.internal.whitelist=nsb,goa,sjn,vyg,gjb,flb

    # Spring
    spring.main.sources=no.entur.nisaba
    spring.profiles.active=gcs-blobstore
    server.port={{ .Values.common.service.internalPort }}

    # Camel
    camel.main.name=Nisaba
    camel.main.stream-caching-enabled=false
    camel.main.stream-caching-spool-enabled=true
    camel.dataformat.jackson.module-refs=jacksonJavaTimeModule
    camel.cluster.kubernetes.enabled=true
    camel.cluster.file.enabled=false
    camel.cluster.kubernetes.cluster-labels[app]=nisaba
    camel.cluster.kubernetes.config-map-name=nisaba-leaders
    camel.servlet.mapping.context-path=/services/*
    # the Camel shutdown timeout must be shorter than the Kubernetes terminationGracePeriod
    nisaba.shutdown.timeout=25

    # Kafka
    nisaba.kafka.topic.event={{ .Values.kafka.topic.event }}
    nisaba.kafka.topic.idempotent={{ .Values.kafka.topic.idempotent }}
    camel.component.kafka.brokers={{ .Values.kafka.brokers }}
    camel.component.kafka.sasl-mechanism=SCRAM-SHA-512
    camel.component.kafka.security-protocol=SASL_SSL
    camel.component.kafka.sasl-jaas-config=org.apache.kafka.common.security.scram.ScramLoginModule required username="${KAFKAUSERNAME}" password="${KAFKAPASSWORD}";

    camel.component.kafka.schema-registry-u-r-l={{ .Values.kafka.registry }}
    camel.component.kafka.additional-properties[basic.auth.credentials.source]=USER_INFO
    camel.component.kafka.additional-properties[basic.auth.user.info]=${KAFKAUSERNAME}:${KAFKAPASSWORD}

    # PubSub
    nisaba.pubsub.project.id={{ .Values.gcp.nisabaPubsubProjectId }}
    marduk.pubsub.project.id={{ .Values.gcp.mardukPubsubProjectId }}
    spring.cloud.gcp.project-id=${nisaba.pubsub.project.id}
    camel.component.google-pubsub.synchronous-pull-retryable-codes=DEADLINE_EXCEEDED

    # Blobstore
    blobstore.gcs.project.id={{ .Values.gcp.blobstoreProjectId }}
    blobstore.gcs.marduk.container.name={{ .Values.gcp.marduk.bucketName }}
    blobstore.gcs.nisaba.container.name={{ .Values.gcp.nisaba.bucketName }}
    blobstore.gcs.nisaba.exchange.container.name={{ .Values.gcp.nisaba.exchangeBucketName }}

    # Actuator
    management.server.port={{ .Values.common.service.internalPort }}
    management.endpoints.access.default=none
    management.endpoint.info.enabled=true
    management.endpoint.health.enabled=true
    management.endpoint.health.group.readiness.include=readinessState
    management.endpoint.prometheus.enabled=true
    management.endpoints.web.exposure.include=info,health,prometheus
    management.health.pubsub.enabled=false

    # Logging
    logging.level.no.entur=INFO
    logging.level.org.apache=INFO
    logging.config=classpath:logback.xml
    logging.level.org.apache.camel.component.http.HttpComponent=WARN

kind: ConfigMap
metadata:
  name: nisaba-application
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "nisaba.common.labels" . | indent 4 }}
