{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Timetable Import Info API",
    "description" : "Provide for each codespace the date of the latest successful NeTEx dataset import",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.entur.io/timetable-public/v1/timetable-import-info"
  } ],
  "tags" : [ {
    "name" : "/timetable-import-info"
  } ],
  "paths" : {
    "/timetable-import-info/import_date" : {
      "get" : {
        "tags" : [ "/timetable-import-info" ],
        "summary" : "Return the date of the latest NeTEx import for all codespaces",
        "operationId" : "verb1",
        "responses" : {
          "200" : {
            "description" : "success"
          },
          "500" : {
            "description" : "Internal error"
          }
        }
      }
    },
    "/timetable-import-info/import_date/{codespace}" : {
      "get" : {
        "tags" : [ "/timetable-import-info" ],
        "summary" : "Return the date of the latest NeTEx import for a given codespace",
        "operationId" : "verb2",
        "parameters" : [ {
          "name" : "codespace",
          "in" : "path",
          "description" : "Codespace of the data provider",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "success"
          },
          "404" : {
            "description" : "Unknown codespace"
          },
          "500" : {
            "description" : "Internal error"
          }
        }
      }
    }
  }
}
